.contain-to-grid.sticky
	.nav.top-bar
		%a{href: "/"} Eye Music
		%ul.nav.top-bar
			%li
				%a{href: "/photos"} Photos
				%br
				%br
			%li
				%a{href: "/events"} Events
				%br
				%br
			%li
				%a{href: "/users"} Profile

.comment_form_center
	= form_for @new_event do |f|
		= f.label :name
		= f.text_field :name
		%br
		= f.label :location
		= f.text_field :location
		%br
		= f.label :event_date
		= f.date_select :event_date
		%br
		= f.label :upload_image
		%br
		= f.file_field :event_photo
		= f.submit "Create Event"
