= image_tag @photo.image.url, style: "width:auto;max-height:600px;"
- @photo.comments.each do |c|
	= c.content
- @photo.tags.each do |f|
	=f.tag_text


= form_for @new_comment, url: comments_path, method: :post do |f|
	= f.hidden_field :commentable_id, value: @new_comment.commentable_id
	= f.hidden_field :commentable_type, value: @new_comment.commentable_type
	= f.text_field :content, :class => "form-control"

	= f.submit "Leave Comment", :class => "btn btn-info"


= form_for @new_tag, url: tags_path, method: :post do |f|
	= f.hidden_field :photo_id, value: @photo.id
	= f.text_field :tag_text

	= f.submit "Add Tag"
	%br
